dashboardClass  = dashboardClass    ? 'in' : ''
accountsClass   = accountsClass     ? 'in' : ''
tagsClass       = tagsClass         ? 'in' : ''
wechatClass     = wechatClass       ? 'in' : ''
legalClass      = legalClass        ? 'in' : ''
optionsClass    = optionsClass      ? 'in' : ''

.navbar
    .navbar-inner
        ul.nav.pull-right
            li#fat-menu.dropdown
                a.dropdown-toggle(href="#", role="button", data-toggle="dropdown")
                    i.icon-user
                    | #{user.nick_name }
                    i.icon-caret-down
                ul.dropdown-menu
                    li
                        a(tabindex="-1", href="/admin/user") 用户中心
                    li.divider
                    li.divider.visible-phone
                    li
                        a(tabindex="-1", href="/logout") 退出
        a.brand(href="/")
            span.first #{options.site_name}
.sidebar-nav
    a.nav-header(href="#dashboard-menu", data-toggle="collapse", style="margin-top: .4em;")
        i.icon-file
        | 博文管理
    ul#dashboard-menu.nav.nav-list.collapse(class=dashboardClass)
        li
            a(href="/admin") 首页
        li
            a(href="/admin/blog") 列表

    a.nav-header(href="#accounts-menu", data-toggle="collapse")
        i.icon-user
        | 用户管理
        span.label.label-info +3
    ul#accounts-menu.nav.nav-list.collapse(class=accountsClass)
        li
            a(href="/admin/user") 用户中心
        li
            a(href="/admin/user/list") 用户列表
        
    a.nav-header.collapsed(href="#tags-menu", data-toggle="collapse")
        i.icon-tags
        | 标签管理
        i.icon-chevron-up
    ul#tags-menu.nav.nav-list.collapse(class=tagsClass)
        li
            a(href="/admin/tags") 标签列表

    a.nav-header.collapsed(href="#wechat-menu", data-toggle="collapse")
        i.icon-comment
        | 微信管理
        i.icon-chevron-up
    ul#wechat-menu.nav.nav-list.collapse(class=wechatClass)
        li
            a(href="/admin/wechat") 规则列表
        li
            a(href="/admin/wechat/leave_msgs") 留言列表

    a.nav-header.collapsed(href="#options-menu", data-toggle="collapse")
        i.icon-cog
        | 网站设置
        i.icon-chevron-up
    ul#options-menu.nav.nav-list.collapse(class=optionsClass)
        li
            a(href="/admin/options") 网站信息
        li
            a(href="/admin/links") 友链管理