extends layout

block meta
    title 关于#{options.site_name} - JFinal,nodejs博客dreamlu.net'
    meta(name='Keywords', content='dreamlu,jfinal,bae,开源博客')
    meta(name='Description', content='dreamlu dreamlu.net 是一个使用Java开发，采用Jfinal mvc框架，MySQL数据库和Jade模版引擎，搭建于百度云BAE的开源博客系统。')

block content
    article.ss-full-width
        #content_box
            #content.hfeed
                script(src="http://git.oschina.net/596392912/jnode/preview")
                h3 关于
                p
                    | 卢春梦，网名
                    code Dreamlu
                    | 2011年毕业于大湖北！
                hr
                h3 愿望
                p 安得广厦千万间，大庇天下程序缘。
                hr
                h3 掌握
                p
                    code java
                    code spring mvc
                    code JFinal
                    code mysql
                    code jquery
                hr
                h3 熟悉
                p
                    code nodejs
                    code coffee-script
                    code linux
                hr
                h3 时间线
                ul
                    li 2012.11 ～ 2013.03 掌上明珠
                    li 2013.04 ～ 至今 永乐票务

block script