extends layout

block meta
    title DreamLu开源博客 - JFinal,nodejs博客dreamlu.net
    meta(name='Keywords', content='dreamlu,jfinal,bae,开源博客')
    meta(name='Description', content='dreamlu.net 是一个使用Java开发，采用Jfinal mvc框架，MySQL数据库和Jade模版引擎，搭建于百度云BAE的开源博客系统。')

block content
    article.article
        #content_box.home_page
            if postsby
                h1.postsby
                    span #{postsby}
            include common/_posts

            currentPage = blogPage.pageNumber
            totalPage   = blogPage.totalPage
            actionUrl   = actionUrl
            urlParas    = ""
            include common/_pagination

    aside.sidebar.c-4-12
        #sidebars.g
            .sidebar
                include common/_sidebar

block script
    script(type="text/javascript")
        var duoshuoQuery = {short_name:"#{options.duoshuo_domain }"};
        js.push('http://static.duoshuo.com/embed.js');