extends ../layout

block meta
    title html5技术 - JFinal,nodejs博客dreamlu.net
    meta(name='Keywords', content='html5游戏,html5 demo,html5技术,html5学习教程')
    meta(name='Description', content='dreamlu.net是一个使用Java开发，采用Jfinal mvc框架，MySQL数据库和Jade模版引擎，搭建于百度云BAE的开源博客系统。')

block content
    article.ss-full-width
        #content_box
            #content.hfeed
                | TODO 待完善

block script