extends ../layout

block meta
    title 身边团购 - JFinal,nodejs博客dreamlu.net
    meta(name='Keywords', content='团购,微信团购,附近团购,大众点评api')
    meta(name='Description', content='dreamlu dreamlu.net 是一个使用Java开发，采用Jfinal mvc框架，MySQL数据库和Jade模版引擎，搭建于百度云BAE的开源博客系统。')


block content
    article.ss-full-width
        #content_box
            #content.hfeed
                #post-200.post-200.page.type-page.status-publish.hentry.g.post.has_thumb
                    header
                        h1.title 身边团购
                    .post-content.box.mark-links
                        table
                            thead
                            tbody
                            tfoot

block script