extends ../layout

block meta
    title iTunes App排行榜 - JFinal,nodejs博客dreamlu.net
    meta(name='Keywords', content='最新iTunes排行榜,ios游戏,iphone游戏排行,ipad免费app排行榜')
    meta(name='Description', content='dreamlu.net 是一个使用Java开发，采用Jfinal mvc框架，MySQL数据库和Jade模版引擎，搭建于百度云BAE的开源博客系统。')

block content
    article.ss-full-width
        #content_box
            #content.hfeed
                #post-200.post-200.page.type-page.status-publish.hentry.g.post.has_thumb
                    header
                        h1.title iTunes App排行榜
                        
                    .post-content.box.mark-links
                        table
                            thead
                                tr
                                    th(width="15%")
                                        select.state
                                            option(value="cn", selected) 中国
                                            option(value="us") 美国
                                            option(value="hk") 香港
                                            option(value="tw") 台湾
                                            option(value="jp") 日本
                                    th(width="20%")        
                                        select.count
                                            option(value="10", selected) 10
                                            option(value="25") 25
                                            option(value="50") 50
                                            option(value="100") 100
                                            option(value="300") 300
                                    th(width="55%")
                                        select.type
                                            option(value="topfreeapplications", selected)免费App排名
                                            option(value="toppaidapplications")收费 App排名
                                            option(value="topgrossingapplications")畅销 App排名
                                            option(value="topfreeipadapplications")免费 iPad App排名
                                            option(value="toppaidipadapplications")付费 iPad App排名
                                            option(value="topgrossingipadapplications")畅销 iPad App排名
                                            option(value="newapplications")新 App
                                            option(value="newfreeapplications")新的免费应用程序
                                            option(value="newpaidapplications")新的付费应用程序
                                    th(width="10%")
                                        select.genre
                                            option(value="", selected) 所有类型
                                            option(value="6014") 游戏
                                            option(value="6011") 音乐
                                            option(value="6018") 图书
                                            option(value="6016") 娱乐
                                tr
                                    th 序号
                                    th 图标
                                    th 名称
                                    th 价格
                            tbody
                            tfoot
                                tr
                                    th 更新时间：
                                    th(colspan="2") 
                                        span.time
                                    th &nbsp;

block script
    script#tableTemp(type="text/html")
        |<tr>
        |<th>{{id}}</th>
        |<th><img class="lazy" src="{{image}}" width="53" heigh="53" title="{{name}}"></th>
        |<th><a target="_blank" href="{{link}}" title="{{name}}">{{name}}</a></th>
        |<th>{{price}}</th>
        |</tr>
    script
        js.push('#{options.cdn_path}/combo?/js/artTemplate/js/template.min.js,/js/artTemplate/js/template-syntax.js,/js/moment/moment.min.js,/js/moment/lang/zh-cn.js,/js/itunes.js&v=#{options.site_version}');