footer
    .container
        .footer-widgets
            .f-widget.f-widget-1
                .widget
                    h3 网站相关
                    ul
                        li
                            a(href='/rss', target="_blank", title='Rss 订阅') Rss 订阅
                        li
                            a(href='#{options.git_url}', rel="nofollow", target="_blank", title='Git地址') 本站源码
                        li
                            a(href='#{options.wb_sina}', rel="nofollow", target="_blank", title='新浪微博') 新浪微博
                        li
                            a(href='#{options.wb_qq}', rel="nofollow", target="_blank", title='腾讯微博') 腾讯微博
                    | QQ : 
                    a(href="http://wpa.qq.com/msgrd?v=3&uin=596392912&site=qq&menu=yes", rel="nofollow", target="_blank") 596392912
            .f-widget.f-widget-2
                .widget
                    h3 热门标签
                    .tagcloud
                        each item in jTag.hostTags()
                            a(href="/tags/#{item.tag_name}", title="#{item.tag_name}") #{item.tag_name}
                                span(style="color:tan;") &nbsp;#{item.num}
            .f-widget.last
                .widget
                    h3 官方微信
                    img(width="120", height="120", alt="#{options.site_name}官方微信", src="#{options.cdn_path}/images/weixin.jpg?v=#{options.site_version}")
        // .footer-widgets
    .copyrights
        #copyright-note.row
            span
                | © 2013&nbsp;
                a(href='#{options.google}', rel="nofollow", target="_blank", title='Google+') #{options.site_name}
            if options.record_number != null
                span
                    a(href='http://www.miitbeian.gov.cn/', rel="nofollow", target="_blank", title='备案号') 京ICP备#{options.record_number}号
            | 友情链接：
            span
                each item in friendLinks
                    a(href="#{item.url}", target="_blank", title="#{item.title}") #{item.title}
            a(rel="nofollow license", href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/", style="float: right;")
                img(width="80", height="15", alt="知识共享许可协议", style="border-width:0;vertical-align: middle;", src="#{options.cdn_path}/images/licenses.png")
    // end copyrights
// footer