meta(charset='UTF-8')
link(rel='icon', href='#{options.cdn_path}/favicon.ico', type='image/x-icon')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv="X-UA-Compatible", content="IE=EmulateIE8")
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black')
meta(name="baidu-site-verification", content="okapdtIdGB")
link(rel='stylesheet', type='text/css', media='all', href='#{options.cdn_path}/css/combo?/css/style.css,/css/application.css&v=#{options.site_version}')
//if lt IE 9
    script(src='http://cdn.staticfile.org/html5shiv/3.7/html5shiv.min.js')
link(rel='alternate', type='application/rss+xml', title='#{options.site_name}Rss订阅', href='/rss')
script(type="text/javascript")
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?545d179467376ca65cf577b4627616c9";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();